<div>
<ag-grid-angular *ngIf="isBrowser && isDataReady"
  style="height: 500px;
  "class="ag-theme-quartz-dark"
  [rowData]="rowData"
  [columnDefs]="colDefs"
  [pagination]="pagination"
   [paginationPageSize]="paginationPageSize"
   (rowClicked)="changeProduct($event)"
   
></ag-grid-angular>
 
<app-update (messageEvent)="recieveMessage($event)" [isDisabled]="isDisabled" [selectedProduct]="selectedProduct"></app-update>
<app-delete (messageEvent)="recieveMessage($event)" [isDisabled]="isDisabled" [selectedProduct]="selectedProduct"></app-delete>


