/* src/app/my-component/my-component.component.scss */

#animateButton.scale-animation {
    animation: scaleAnimationSuccess 3s;
  }
  
  @keyframes scaleAnimationSuccess {
    0% {
      transform: scale(0.8);
      border-radius: 10%;
    }
    50% {
      transform: scale(2.2);
      border-radius: 20%;
    }
    100% {
      transform: scale(1);
      border-radius: 0%;
    }
  }
  
  @keyframes scaleAnimationFail {
    0% {
      transform: translateX(-10px);
      color: red;
    }
    50% {
      transform: translateX(10px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  